@font-face {
          font-family: "Kimberley";
            src: url(/static/fonts/d20.tff) format("truetype");
}
h1 { font-family: "Kimberley", sans-serif }


td.details-control {
        background: url(/static/css/images/details_open.png) no-repeat center center;
                cursor: pointer;
}
        tr.shown td.details-control {
                    background: url('/static/css/images/details_close.png') no-repeat center center;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.mainbtn {
  background-color: #121212;
}

