{% extends "base.j2" %}
{% block content %}
<h1 style="margin-top: 2rem; color: red; text-align: center;font-size: 5rem; text-shadow: 0 0 5px black, 0 0 5px black;" class="cf">{{ user }}'s Collection</h1>
{% include "userCardsJS.j2" %}


<div class="tab">
	<button id="Full_Collection" class="mainbtn tablinks">Full Collection</button>
	<button id="BaseSets" class="mainbtn tablinks">Base Sets</button>
	<button id="Monsters" class="mainbtn tablinks">Creatures</button>
	<button id="Items" class="mainbtn tablinks">Items</button>
	<button id="Locations" class="mainbtn tablinks">Locations</button>
	<button id="Exps" class="mainbtn tablinks">Expansions</button>
	<br>
	<button id="Base_Set" class="mainbtn tablinks">Creature Base Set</button>
	<button id="Item_Base_Set" class="mainbtn tablinks">Item Base Set</button>
	<button id="Loc_Base_Set" class="mainbtn tablinks">Location Base Set</button>
	<div id="msets">
	{% for set in msets %}
	<button class="tablinks" id="{{ set[0].replace('?','9').replace("'",'8').replace(" ",'_') }}">{{ set[0] }}</button>
	{% endfor %}
	</div>
	<div id="isets">
	{% for set in isets %}
	<button class="tablinks" id="{{ set[0].replace('?','9').replace("'",'8').replace(" ",'_') }}">{{ set[0] }}</button>
	{% endfor %}
	</div>
	<div id="lsets">
	{% for set in lsets %}
	<button class="tablinks" id="{{ set[0].replace('?','9').replace("'",'8').replace(" ",'_') }}">{{ set[0] }}</button>
	{% endfor %}
	</div>
	<div id="exps">
	{% for exp in exps %}
	<button class="tablinks" id="{{ exp[0] }}">{{ exp[1] }}</button>
	{% endfor %}
	</div>
</div>

<h2>Cards<h2>

<table id="cs" class="display tbl" width="100%">
    <thead>
	<tr>
		<th>CardID</th>
        	<th>CR</th>
        	<th>Card</th>
        	<th>Expansion</th>
        	<th>Grade</th>
        	<th>Holo</th>
        	<th>Edition</th>
        	<th>Value</th>
        	<th>Set</th>
	</tr>
    </thead>
</table>

<table id=setTable class="display tbl" width="100%">
	<thead>
		<tr>
                        <th></th>
			<th>Card</th>
			<th>Aquired?</th>
			<th>Quantity</th>
		</tr>
	</thead>
</table>
{% endblock %}
